@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/main-section.scss";
@import "blocks/order.scss";
@import "blocks/footer.scss";

* {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
